/* Hero2D THEME */

/* Color scheme */

.cm-s-hero2D.CodeMirror {
  background-color:#ffffff;
  color:rgb(108, 108, 108);
  line-height:1.4375;
}
.cm-s-hero2D .cm-comment {color: #9E9E9E;}
.cm-s-hero2D .cm-keyword, .cm-s-hero2D .cm-property {color:#1d75b3}
.cm-s-hero2D .cm-atom,.cm-s-hero2D .cm-number {color:#75438a}
.cm-s-hero2D .cm-node,.cm-s-hero2D .cm-tag {color:#9c3328}
.cm-s-hero2D .cm-string {color:#b35e14}
.cm-s-hero2D .cm-variable,.cm-s-hero2D .cm-qualifier {color:#047d65}


/* Editor styling */

.cm-s-hero2D pre {
  padding:0;
}

.cm-s-hero2D .CodeMirror-gutters {
	border: none;
	border-right: 10px solid transparent;
	background-color: white;
	box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.12);
}

.cm-s-hero2D .CodeMirror-linenumber {
  padding:0;
  color:rgb(108, 108, 108);
}

.cm-s-hero2D .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-hero2D .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

