@import url(helpers/animate.min.css);

@font-face{
    font-family:"opensans";
    src:url("../../assets/fonts/opensans/OpenSans-Regular.eot?#iefix");
    src:url("../../assets/fonts/opensans/OpenSans-Regular.eot?#iefix") format("eot"),
    url("../../assets/fonts/opensans/OpenSans-Regular.woff") format("woff"),
    url("../../assets/fonts/opensans/OpenSans-Regular.ttf") format("truetype"),
    url("../../assets/fonts/opensans/OpenSans-Regular.svg#opensans") format("svg");
    font-weight: normal;
}

@font-face{
    font-family:"opensans";
    src:url("../../assets/fonts/opensans/OpenSans-Semibold.eot?#iefix");
    src:url("../../assets/fonts/opensans/OpenSans-Semibold.eot?#iefix") format("eot"),
    url("../../assets/fonts/opensans/OpenSans-Semibold.woff") format("woff"),
    url("../../assets/fonts/opensans/OpenSans-Semibold.ttf") format("truetype"),
    url("../../assets/fonts/opensans/OpenSans-Semibold.svg#opensans") format("svg");
    font-weight: 500;
}

@font-face{
    font-family:"opensans";
    src:url("../../assets/fonts/opensans/OpenSans-Bold.eot?#iefix");
    src:url("../../assets/fonts/opensans/OpenSans-Bold.eot?#iefix") format("eot"),
    url("../../assets/fonts/opensans/OpenSans-Bold.woff") format("woff"),
    url("../../assets/fonts/opensans/OpenSans-Bold.ttf") format("truetype"),
    url("../../assets/fonts/opensans/OpenSans-Bold.svg#opensans") format("svg");
    font-weight: bold;
}

@font-face {
	font-family: 'icons';
	src:url('../../assets/fonts/icons/icons.eot?7da4fl');
	src:url('../../assets/fonts/icons/icons.eot?#iefix7da4fl') format('embedded-opentype'),
		url('../../assets/fonts/icons/icons.woff?7da4fl') format('woff'),
		url('../../assets/fonts/icons/icons.ttf?7da4fl') format('truetype'),
		url('../../assets/fonts/icons/icons.svg?7da4fl#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600";
}

.icon-image:before {
	content: "\e601";
}

.icon-music:before {
	content: "\e603";
}

.icon-pacman:before {
	content: "\e604";
}

.icon-book:before {
	content: "\e606";
}

.icon-file:before {
	content: "\e607";
}

.icon-file2:before {
	content: "\e608";
}

.icon-stack:before {
	content: "\e609";
}

.icon-folder:before {
	content: "\e60a";
}

.icon-folder-open:before {
	content: "\e60b";
}

.icon-disk:before {
	content: "\e60c";
}

.icon-cog:before {
	content: "\e60d";
}

.icon-hammer:before {
	content: "\e60e";
}

.icon-cancel-circle:before {
	content: "\e60f";
}

.icon-close:before {
	content: "\e605";
}

.icon-exit:before {
	content: "\e610";
}

.icon-play:before {
	content: "\e611";
}

.icon-stop:before {
	content: "\e612";
}

.icon-console:before {
	content: "\e613";
}

.icon-github:before {
	content: "\e602";
}

.icon-in-alt:before {
	content: "\e614";
}


* {
	margin: 0;
	padding: 0;
	-webkit-transition: all .4s;
	-webkit-user-select: none;
}

body {
	background-color: #232323;
	color: white;
	font-family: 'opensans', sans-serif;
	font-size: 0.75em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	cursor: default !important;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #007eff;
	cursor: default !important;
}

a:hover {
	color: #3fb3ff;
}

preload {
	width: 505px;
	height: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -252px;
	margin-top: -160px;
	text-align: center;
}

preload > logo {
	display: block;
	margin: 0 auto;
	width: 209px;
	height: 86px;
	background: url(../../assets/pictures/logo.png) no-repeat;
}

preload > p {
	margin: 20px 0;
}

preload > p:first-of-type {
	margin-bottom: 40px;
}

help-icon {
	position: absolute;
	right: 20px;
	top: 15px;
	width: 25px;
	height: 26px;
	background: url(../../assets/pictures/preload/help-icon.png) no-repeat;
	opacity: 0.7;
}

help-icon:hover {
	opacity: 1;
}

blue-color {
	color: #007eff;
}

version {
	position: absolute;
	right: 20px;
	bottom: 17px;
	text-transform: uppercase;
	font-size: 0.8em;
}

version > blue-color {
	font-weight: bold;
}

[button] {
	-webkit-transition: all .4s;
	background-color: #313131;
	padding: 10px 20px;
	color: white;
	font-weight: 500;
	border: 1px solid #202020;
	cursor: default !important;
}

[button]:hover {
	color: white;
	border-color: #29272e;
	background-color: #007ac9;
}

application {
	display: none;
}

black-layer {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	display: none;
}

modal {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 100;
	background-color: #232323;
	padding: 30px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	display: none;
}

modal > h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
	margin-top: 0;
	padding-bottom: 10px;
	border-bottom: 3px solid #007eff;
}

modal [button] {
	display: block;
	margin: 20px 0;
	text-align: center;
}

modal#new-project {
	padding-bottom: 0;
	width: 250px;
}

modal input, modal textarea, modal select {
	display: block;
	width: 100%;
	padding: 10px 15px;
	color: rgba(0, 0, 0, 0.78);
	border: 2px solid #007EFF;
	background-color: rgba(0, 0, 0, 0.26);
	color: white;
}

close-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 25px;
	height: 26px;
	background: url(../../assets/pictures/modal/close-icon.png) no-repeat;
	opacity: 0.4;
}

close-icon:hover {
	opacity: 1;
	cursor: default !important;
}

input, select, textarea {
	font-family: "opensans", sans-serif;
	outline: none !important;
}

input[type=file] {
	display: none;
}