@font-face{
    font-family:"montserrat";
    src:url("fonts/montserrat/montserrat.eot?#iefix");
    src:url("fonts/montserrat/montserrat.eot?#iefix") format("eot"),
    url("fonts/montserrat/montserrat.woff") format("woff"),
    url("fonts/montserrat/montserrat.ttf") format("truetype"),
    url("fonts/montserrat/montserrat.svg#montserrat") format("svg");
    font-weight: normal;
}

@font-face {
	font-family: 'icons';
	src:url('fonts/icons/icons.eot?7da4fl');
	src:url('fonts/icons/icons.eot?#iefix7da4fl') format('embedded-opentype'),
		url('fonts/icons/icons.woff?7da4fl') format('woff'),
		url('fonts/icons/icons.ttf?7da4fl') format('truetype'),
		url('fonts/icons/icons.svg?7da4fl#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600";
}

.icon-image:before {
	content: "\e601";
}

.icon-music:before {
	content: "\e603";
}

.icon-pacman:before {
	content: "\e604";
}

.icon-book:before {
	content: "\e606";
}

.icon-file:before {
	content: "\e607";
}

.icon-file2:before {
	content: "\e608";
}

.icon-stack:before {
	content: "\e609";
}

.icon-folder:before {
	content: "\e60a";
}

.icon-folder-open:before {
	content: "\e60b";
}

.icon-disk:before {
	content: "\e60c";
}

.icon-cog:before {
	content: "\e60d";
}

.icon-hammer:before {
	content: "\e60e";
}

.icon-cancel-circle:before {
	content: "\e60f";
}

.icon-close:before {
	content: "\e605";
}

.icon-exit:before {
	content: "\e610";
}

.icon-play:before {
	content: "\e611";
}

.icon-stop:before {
	content: "\e612";
}

.icon-console:before {
	content: "\e613";
}

.icon-github:before {
	content: "\e602";
}

.icon-in-alt:before {
	content: "\e614";
}

* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

html, body {
	overflow: hidden !important;
}

body {
	background-color: white;
	color: rgba(35, 35, 35, 0.75);
	font-family: 'montserrat', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04); */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 0.2px black;
	cursor: default !important;
}

a {
	-webkit-transition: all .4s;
	text-decoration: none;
	font-weight: bold;
	color: #007eff;
	-webkit-text-stroke: 0.1px #007eff;
	cursor: default !important;
}

a:hover {
	color: #3fb3ff;
	-webkit-text-stroke: 0.1px #3fb3ff;
}

modal {
	display: none;
	text-align: center;
	width: 640px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -150px;
}

logo {
	display: block;
	margin: 0 auto;
	width: 190px;
	height: 86px;
	background: url(logo.png) no-repeat;
}

notice {
	background-color: #ffc0c0;
	border: 1px solid #ff9b9b;
	color: #7b0000;
	padding: 10px;
	display: block;
	margin: 20px;
}

/** Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #057afb;
	border: 1px solid #E2E6EC;
}